<configuration>
    <connectionStrings>
        <add name="flightDB" connectionString="Data Source=C:/Users/Deni/Desktop/mpp-proiect-java-Denisa-Florina/proiect/flight.db;Version=3;"/>
    </connectionStrings>
    <appSettings>
        <add key="TransportServer.Port" value="55556" />
        <add key="TransportServer.Jdbc.Driver" value="org.sqlite.JDBC" />
        <add key="TransportServer.Jdbc.Url" value="jdbc:sqlite:C:/Users/Deni/Desktop/mpp-proiect-java-Denisa-Florina/proiect/flight.db" />
    </appSettings>
</configuration>